alabaster==0.7.10
Babel==2.5.1
biopython==1.70
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
CommonMark==0.5.4
cycler==0.10.0
Cython==0.27.2
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
khmer==2.1.1
MarkupSafe==1.0
matplotlib==2.1.0
numpy==1.13.3
OLCTools==0.3.4
pkg-resources==0.0.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
recommonmark==0.4.0
requests==2.18.4
scipy==1.0.0
screed==1.0
six==1.11.0
snowballstemmer==1.2.1
sourmash==1.0
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
urllib3==1.22
